<div class="container">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody class="service-index">
			<% @services.each do |service| %>
				<tr>
					<td><%= service.name %></td>
					<td><%= service.price %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
