<body class="admin_body">
	<div id="admin_contrainer">
		<div id="admin_header">
			<div id="admin_logo">
				<%= link_to image_tag('KN_white.png', height: 70, width: 70), {action: 'index', controller: 'home'} %>
			</div>
			<div id="admin_title">
				<%= controller_name %>
			</div>
		</div>
		<div id="admin_menu">
			<%= render 'admin/partials/menu' %>
		</div>
		<div id="admin_content">