<body class="admin_body">
	<div id="admin_contrainer">
		<div id="admin_header">
			<div id="admin_logo">
				<%= link_to image_tag('KN_white.png', height: 40, width: 40), root_path %>
			</div>
			<div id="admin_title">
				<%= controller_name %>
			</div>
		</div>
		<div id="admin_menu">
			<%= render 'admin/partials/menu' %>
		</div>
		<div id="admin_content">
