<div class="modal-header">
  <h3>Delete Subpage</h3>
</div>
<div class="modal-body">
<ul class="errors"></ul>
Are you sure you wish to delete <b><%= @subpage.title %></b>?
</div>
<div class="modal-footer">
  <%= link_to "Yes, Delete This Subpage", admin_subpage_path(@subpage), method: :delete, remote: true, class: "btn btn-danger" %>
  <%= link_to "No, Please Don't", "#", class: "btn", data: { dismiss: "modal" } %>
</div>
