<div class="information_box">
	Info:<br/>

	<ul>
		<li>an active subpage with no section will create a static link in main menu.</li>
		<li>an active section with at least one active subpage will create a dropdown list in main menu.</li>

		<li>disabled or empty sections will not show up.</li>
		<li>sections with all subpages disabled will not show up.</li>
		<li>enabled subpages which are assigned to disabled sections will not show up.</li>
	</ul>
</div>

<div class="subpage-index">
	<%= render "index" %>
</div>
<%= link_to "New Subpage", new_admin_subpage_path, remote: true, class: "btn btn-primary btn-default" %>
<div id="subpage-modal"></div>
<br/><hr/>

<div class="subsection-index">
	<%= render partial: 'admin/subsections/index' %>
</div>
<%= link_to "New Section", new_admin_subsection_path, remote: true, class: "btn btn-default btn-primary" %>
<div id="subsection-modal"></div>
