// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.admin_body{
	background-color: grey;
}

#admin_contrainer{
	margin: 0;
	padding: 0;
	min-width: 1100px;
	#admin_header{
		width: 100%;
		height: 100px;
		background-color: black;
		color: white;
		#admin_logo{
			width: 19%;
			height: 100px;
			background-color: black;
			color: white;
			display: inline-block;
			line-height: 100px;
		}
		#admin_title{
			width: 80%;
			height: 100px;
			display: inline-block;
			text-align: center;
			font-size: 20px;
			text-transform: uppercase;
			line-height: 100px;
		}
	}
	#admin_menu{
		height: 100%;
		width: 20%;
		min-width: 150px;
		display: inline-block;
		margin: 0;
		padding: 0;
		background-color: black;
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				margin-top: 5px;
				margin-bottom: 5px;
				margin-left: 10px;
			}
		}
	}
	#admin_content{
		vertical-align: top;
		height: 100%;
		width: 78%;
		display: inline-block;
		margin-top: 10px;
		padding: 0;
		div.standard_form{
			width: 100%;
			margin-left: 5px;
			margin-bottom: 10px;
			border-radius: 4px;
			border: 1px solid black;
			table.standard_form_table{
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				th{
					font-size: 20px;
					padding: 10px;
					color: white;
				}
				form.default_update_form{
					text-align: center;
					width: 100%;
					display: inline-block;
				}
				td.table_input_label{
					width: 20%;
					label.input_label{
						text-align: left;
						margin-left: 20px;	
						display: inline;
					}
				}
				td.table_input_field{
					input.input_field{
						text-align: left;
						width: 100%;
						margin: 5px;
						display: inline-block;
					}
					select{
						text-align: left;
						width: 100%;
						margin: 5px;
					}
				}
				td.table_button{
					text-align: center;
					input.btn{
						width: 100%;
						margin: 5px;
					}
				}
				td.table_input_checkbox{
					text-align: center;
					.bootstrap-switch{
						margin: 5px;
						width: 150px;
					}
				}
			}
		}
		div.standard_form#general_settings{
			
		}
	}
}
