// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#owl-demo .item img{
    //display: block;
    width: 100%;
    height: 400px;
}
table.information_edit_form{
    width: 100%;
    td.label{
        width: 200px;
        color: black;
        font-size: 14px;
    }
    td.textfield{
        width: 100%;
        input{
            width: 100%;
        }
        select{
        	width: 100%;
        	padding: 10px;
        	font-size: 14px;
        }
        select#video_video_section_id{
        	width: 270px;
        }
        #addsectionbutton{
        	width: 270px;
        }
        padding-bottom: 10px;
    }
    td input#user_avatar{

    }
    td.button{
        padding-top: 10px;
    }
}