<% if controller_name != 'admin' %>
<footer class="footer navbar-fixed-bottom">
	<div class="container">
		<small>
			<a href="#">Copyright &copy; 2014 Katata Network. All Rights Reserved.</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
		</nav>
	</div>
</footer>
<% end %>