<% if controller_name != 'admin' %>
<footer class="footer navbar-fixed-bottom">
	<div id="footer_container">
		<small>
			<%= yield_site_settings.site_copyright.html_safe %>
		</small>
		<nav>
			<ul>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
		</nav>
	</div>
</footer>
<% end %>