<% if controller_name != 'admin' %>
	<div data-spy="affix" data-offset-top="0" id="nav">
		<div id="main_header_top_spacer"></div>
		<div id="navbar_contrainer">
			<div class="navbar">
			    <div class="navbar-inner">
			        <div class="container">
						<a class="brand" href="/"><%= yield_site_settings.site_name %></a>
						<%= render 'layouts/partials/main_menu' %>
			        </div> 
			    </div> 
		    </div>
		</div> 
		<div id="main_header_bottom_spacer"></div>
	</div>
<% end %>
