<% if controller_name != 'admin' %>
<div id="main_header">
	<div id="header_contrainer">
		<div id="header_logo">
			<%= yield_site_settings.site_name %>
		</div>
		<div id="header_menu">
			<%= render 'layouts/partials/main_menu' %>
		</div>
	</div>
</div>
<% end %>